@import "fonts.scss";
@import "_variables.scss";

@import "bower_components/font-awesome/scss/font-awesome";
@import "bower_components/bootstrap/scss/bootstrap.scss";
@import "modules/btn.scss";
// @import "ember-pt-components";
@import "pods.scss";

body {
  padding: 2rem;
  margin-top: 54px;
}
