<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        {{#link-to 'home' class="nav-link"}}Home{{/link-to}}
      </li>
      {{#if session.isAuthenticated}}
        <li class="nav-item">
          <a class="nav-link" {{action 'invalidateSession'}}>Logout</a>
        </li>
      {{else}}
        <li class="nav-item">
          {{#link-to 'session.session.sign-in' class="nav-link"}}Sign in{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'session.session.sign-up' class="nav-link"}}Sign up{{/link-to}}
        </li>
      {{/if}}
    </ul>
  </div>
</nav>

<div class="container-fluid">
  {{outlet}}
</div>

{{ember-notify messageStyle='bootstrap'}}
