<h2>Hello, {{model.name}}!</h2>
{{#if session.isAuthenticated}}
  {{#unless session.data.facebook_access_token}}
    {{#link-to 'session.session.fb-login'}}
      Go to fb login
    {{/link-to}}
  {{/unless}}
{{/if}}
{{outlet}}
